<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
		<title>ADMIN_WAIT</title>    
    <style>
			.emphasis { color: blue; font-weight: bolder; font-size:130%; }
    </style>
  </head>

  <body>
    <br>
    <div class="emphasis"> <tb> Waiting for Receiving Image...</div>
  </body>
</html>
